# This is an example of buildtool configuration file.
#
# To make it work copy it to the following location:
#
#   $BUILDTOOL_CONFIG_DIR/$BUILDTOOL_PROFILE.conf
#
# If $BUILDTOOL_CONFIG_DIR is not defined then '~/.buildtool' is assumed.
# If $BUILDTOOL_PROFILE is not defined then 'default' is assumed.
#
# This means '~/.buildtool/default.conf' is the ultimate default.
#

# Sets cache directory, if not absolute it is assumed to be relative to base directory.
# cache_dir = cache

# Sets work directory, if not absolute it is assumed to be relative to base directory.
# work_dir = work

# Defines any CFLAGS to pass to configure script.
# cflags = -Os

# Defines any LIBS to pass to configure script.
# libs = -L/path/to/lib

# Defines any additional flags to pass to configure script.
# options = --with-foo=/path/to/foo

# Defines any additional directories to prepend to PATH.
# Entries could be merged with +=.
# path += C:\devtools\mingw\bin
# path += C:\devtools\cmake\bin

# (Windows only) Defines path for unix tools (i.e. msys).
# unix_path = C:\devtools\mingw\msys\1.0\bin

# Defines build triplet to pass to configure script.
# build = i686-linux-gnu
#   or
# build = x86_64-linux-gnu
#   or
# build = i686-unknown-mingw32

# Defines host triplet to pass to configure script.
# host = i686-w64-mingw32

# build and host are mandatory if you're doing cross-compilation
# otherwise leave them undefined.

# Configuration options could be reused by using include directives.
# File to include is assumed to be in the same directory
# and should have the same extension as current file.
# !include default
